@model AccrualWorld.Models.Mileage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mileage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPerMile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPerMile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MileageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
