@model IEnumerable<AccrualWorld.Models.Mileage>

@{
    ViewData["Title"] = "Index";
}

<h1>All Mileage</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPerMile)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPerMile)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.MileageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MileageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MileageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
