@model IEnumerable<AccrualWorld.Models.Income>

@{
    ViewData["Title"] = "Index";
}

<h1>Incomes</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Add Received Payment</a>
</p>

@using (Html.BeginForm())
{
    <div>
        <span>Start Date :</span> <input type="date" name="start" />



        <span>End Date :</span> <input type="date" name="end" />



        <input type="submit" class="btn btn-outline-dark" value="Get Payments Between Dates" />



    </div>
    //Date range picker with table

    <table class="table table-striped table-bordered shadow-lg" style="background-color: #F6F1EA">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    Paid Invoice
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payer)
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        <img src="@("~/invoice/" + item.ImagePath)" asp-append-version="true" width="250px" height="250px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payer)
                    </td>

                    <td>
                        
                        <a asp-action="Details" asp-route-id="@item.IncomeId" class="btn-sm btn-outline-info">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.IncomeId" class="btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
    <table class="table table-striped table-bordered shadow-lg" style="background-color: #F6F1EA">
        <thead>
            <tr>
                <th>
                    Total for this Time Period
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>                    
                    $@Math.Round(Model.Sum(i => i.Total), 2)
                </td>
                

            </tr>

        </tbody>
    </table>
